test/soap_SUITE_data/europepmc.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:tns="http://webservice.cdb.ebi.ac.uk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:swaRef="http://ws-i.org/profiles/basic/1.1/xsd" targetNamespace="http://webservice.cdb.ebi.ac.uk/" version="1.0">

  <xs:import schemaLocation="swaref.xsd" namespace="http://ws-i.org/profiles/basic/1.1/xsd"></xs:import>
  <xs:element name="QueryException" type="tns:QueryException"></xs:element>

  <xs:element name="getBookXML" type="tns:getBookXML"></xs:element>

  <xs:element name="getBookXMLResponse" type="tns:getBookXMLResponse"></xs:element>

  <xs:element name="getCitations" type="tns:getCitations"></xs:element>

  <xs:element name="getCitationsResponse" type="tns:getCitationsResponse"></xs:element>

  <xs:element name="getDatabaseLinks" type="tns:getDatabaseLinks"></xs:element>

  <xs:element name="getDatabaseLinksResponse" type="tns:getDatabaseLinksResponse"></xs:element>

  <xs:element name="getFulltextXML" type="tns:getFulltextXML"></xs:element>

  <xs:element name="getFulltextXMLResponse" type="tns:getFulltextXMLResponse"></xs:element>

  <xs:element name="getLabsLinks" type="tns:getLabsLinks"></xs:element>

  <xs:element name="getLabsLinksResponse" type="tns:getLabsLinksResponse"></xs:element>

  <xs:element name="getReferences" type="tns:getReferences"></xs:element>

  <xs:element name="getReferencesResponse" type="tns:getReferencesResponse"></xs:element>

  <xs:element name="getSupplementaryFiles" type="tns:getSupplementaryFiles"></xs:element>

  <xs:element name="getSupplementaryFilesResponse" type="tns:getSupplementaryFilesResponse"></xs:element>

  <xs:element name="getTextMinedTerms" type="tns:getTextMinedTerms"></xs:element>

  <xs:element name="getTextMinedTermsResponse" type="tns:getTextMinedTermsResponse"></xs:element>

  <xs:element name="listSearchFields" type="tns:listSearchFields"></xs:element>

  <xs:element name="listSearchFieldsResponse" type="tns:listSearchFieldsResponse"></xs:element>

  <xs:element name="profilePublications" type="tns:profilePublications"></xs:element>

  <xs:element name="profilePublicationsResponse" type="tns:profilePublicationsResponse"></xs:element>

  <xs:element name="searchPublications" type="tns:searchPublications"></xs:element>

  <xs:element name="searchPublicationsResponse" type="tns:searchPublicationsResponse"></xs:element>

  <xs:complexType name="searchPublications">
    <xs:sequence>
      <xs:element name="queryString" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="resultType" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="offSet" type="xs:int" minOccurs="0"></xs:element>
      <xs:element name="pageSize" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="synonym" type="xs:boolean" minOccurs="0"></xs:element>
      <xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="searchPublicationsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:responseWrapper" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="responseWrapper">
    <xs:sequence>
      <xs:element name="version" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="hitCount" type="xs:int" minOccurs="0"></xs:element>
      <xs:element name="request" type="tns:request" minOccurs="0"></xs:element>
      <xs:element name="profileList" type="tns:profileListBean" minOccurs="0"></xs:element>
      <xs:element name="resultList" type="tns:resultList" minOccurs="0"></xs:element>
      <xs:element name="dbCountList" type="tns:dbCountList" minOccurs="0"></xs:element>
      <xs:element name="dbCrossReferenceList" type="tns:dbCrossReferenceList" minOccurs="0"></xs:element>
      <xs:element name="citationList" type="tns:citationList" minOccurs="0"></xs:element>
      <xs:element name="referenceList" type="tns:referencesList" minOccurs="0"></xs:element>
      <xs:element name="semanticTypeCountList" type="tns:semanticTypeCounts" minOccurs="0"></xs:element>
      <xs:element name="semanticTypeList" type="tns:minedTermsList" minOccurs="0"></xs:element>
      <xs:element name="searchTermList" type="tns:searchTerms" minOccurs="0"></xs:element>
      <xs:element name="linksCountList" type="tns:labsProviderCountList" minOccurs="0"></xs:element>
      <xs:element name="providers" type="tns:labsProviders" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="request">
    <xs:sequence>
      <xs:element name="queryString" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="internalQuery" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="resultType" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="profileType" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="id" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="source" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="offSet" type="xs:int" minOccurs="0"></xs:element>
      <xs:element name="pageSize" type="xs:int" minOccurs="0"></xs:element>
      <xs:element name="database" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="semanticType" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="synonym" type="xs:boolean" minOccurs="0"></xs:element>
      <xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="providerId" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="profileListBean">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="source" type="tns:profile" minOccurs="0"></xs:element>
      <xs:element nillable="true" maxOccurs="unbounded" name="pubType" type="tns:profile" minOccurs="0"></xs:element>
      <xs:element nillable="true" maxOccurs="unbounded" name="subset" type="tns:profile" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="profile">
    <xs:sequence></xs:sequence>
    <xs:attribute name="name" type="xs:string"></xs:attribute>
    <xs:attribute name="count" use="required" type="xs:int"></xs:attribute>
  </xs:complexType>

  <xs:complexType name="resultList">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="result" type="tns:result" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="result">
    <xs:sequence>
      <xs:element name="request" type="tns:request" minOccurs="0"></xs:element>
      <xs:element name="citationId" type="xs:int" minOccurs="0"></xs:element>
      <xs:element name="id" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="source" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="pmid" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="pmcid" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="DOI" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="title" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="authorString" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="authorList" type="tns:authorsList" minOccurs="0"></xs:element>
      <xs:element name="investigatorList" type="tns:investigatorList" minOccurs="0"></xs:element>
      <xs:element name="authorIdList" type="tns:authorIdsList" minOccurs="0"></xs:element>
      <xs:element name="journalInfo" type="tns:journalInfo" minOccurs="0"></xs:element>
      <xs:element name="journalTitle" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="issue" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="journalVolume" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="pubYear" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="journalIssn" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="pageInfo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="abstractText" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="affiliation" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="language" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="pubModel" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="pubType" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="pubTypeList" type="tns:pubTypeList" minOccurs="0"></xs:element>
      <xs:element name="brSummary" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="bookOrReportDetails" type="tns:bookOrReportDetails" minOccurs="0"></xs:element>
      <xs:element name="patentDetails" type="tns:patentDetailsInfo" minOccurs="0"></xs:element>
      <xs:element name="grantsList" type="tns:grantsList" minOccurs="0"></xs:element>
      <xs:element name="meshHeadingList" type="tns:meshHeadingsList" minOccurs="0"></xs:element>
      <xs:element name="keywordList" type="tns:keywordList" minOccurs="0"></xs:element>
      <xs:element name="chemicalList" type="tns:chemicalList" minOccurs="0"></xs:element>
      <xs:element name="subsetList" type="tns:subSetList" minOccurs="0"></xs:element>
      <xs:element name="fullTextUrlList" type="tns:fullTextUrlList" minOccurs="0"></xs:element>
      <xs:element name="commentCorrectionList" type="tns:commentCorrectionList" minOccurs="0"></xs:element>
      <xs:element name="extCommentList" type="tns:extCommentBean" minOccurs="0"></xs:element>
      <xs:element name="isOpenAccess" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="inEPMC" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="inPMC" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="citedByCount" type="xs:int" minOccurs="0"></xs:element>
      <xs:element name="hasReferences" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="hasTextMinedTerms" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="hasDbCrossReferences" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dbCrossReferenceList" type="tns:crossReferencesList" minOccurs="0"></xs:element>
      <xs:element name="hasSupplementary" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="hasFullTextXML" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="hasPDF" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="hasBook" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="bookid" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="hasLabsLinks" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="hasTMAccessionNumbers" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tmAccessionTypeList" type="tns:tmAccessionTypeList" minOccurs="0"></xs:element>
      <xs:element name="dateOfCompletion" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dateOfCreation" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dateOfRevision" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="electronicPublicationDate" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="firstPublicationDate" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="embargoDate" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="fullText" type="swaRef:swaRef" minOccurs="0"></xs:element>
      <xs:element name="supplementaryFiles" type="swaRef:swaRef" minOccurs="0"></xs:element>
      <xs:element name="luceneScore" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="authorsList">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="author" type="tns:authors" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="authors">
    <xs:sequence>
      <xs:element name="collectiveName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="fullName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="firstName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="lastName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="initials" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="authorId" type="tns:authorId" minOccurs="0"></xs:element>
      <xs:element name="affiliation" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="authorId">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" type="xs:string"></xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="investigatorList">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="investigator" type="tns:authors" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="authorIdsList">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="authorId" type="tns:authorId" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="journalInfo">
    <xs:sequence>
      <xs:element name="issue" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="volume" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="journalIssueId" type="xs:int" minOccurs="0"></xs:element>
      <xs:element name="dateOfPublication" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="monthOfPublication" type="xs:byte" minOccurs="0"></xs:element>
      <xs:element name="yearOfPublication" type="xs:short" minOccurs="0"></xs:element>
      <xs:element name="printPublicationDate" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="journal" type="tns:journal" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="journal">
    <xs:sequence>
      <xs:element name="title" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ISOAbbreviation" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="medlineAbbreviation" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="NLMid" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ISSN" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ESSN" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pubTypeList">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="pubType" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bookOrReportDetails">
    <xs:sequence>
      <xs:element name="publisher" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dayOfPublication" type="xs:byte" minOccurs="0"></xs:element>
      <xs:element name="monthOfPublication" type="xs:byte" minOccurs="0"></xs:element>
      <xs:element name="yearOfPublication" type="xs:short" minOccurs="0"></xs:element>
      <xs:element name="numberOfPages" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="edition" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="isbn10" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="isbn13" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="seriesName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="seriesIssn" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="comprisingTitle" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="comprisingTitleNonAscii" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="extraInformation" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="patentDetailsInfo">
    <xs:sequence>
      <xs:element name="countryCode" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="country" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="typeCode" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="typeDescription" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="classifierList" type="tns:patentClassifierList" minOccurs="0"></xs:element>
      <xs:element name="application" type="tns:patentApplication" minOccurs="0"></xs:element>
      <xs:element name="priorityList" type="tns:patentPriorityList" minOccurs="0"></xs:element>
      <xs:element name="familyList" type="tns:patentFamilyList" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="patentClassifierList">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="classifier" type="tns:patentClassifierInfo" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="patentClassifierInfo">
    <xs:sequence>
      <xs:element name="classification" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="classificationType" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="hyperlink" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="patentApplication">
    <xs:sequence>
      <xs:element name="applicationNumber" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="applicationDate" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="orderIn" type="xs:short" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="patentPriorityList">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="priority" type="tns:patentPriorityData" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="patentPriorityData">
    <xs:sequence>
      <xs:element name="priorityNumber" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="priorityDate" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="orderIn" type="xs:short" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="patentFamilyList">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="family" type="tns:patentFamilyData" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="patentFamilyData">
    <xs:sequence>
      <xs:element name="familyNumber" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="orderIn" type="xs:short" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="grantsList">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="grant" type="tns:grantInfo" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="grantInfo">
    <xs:sequence>
      <xs:element name="grantId" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="agency" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="acronym" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="orderIn" type="xs:short"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="meshHeadingsList">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="meshHeading" type="tns:meshHeadingInfo" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="meshHeadingInfo">
    <xs:sequence>
      <xs:element name="majorTopic_YN" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descriptorName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="meshQualifierList" type="tns:meshQualifierList" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="meshQualifierList">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="meshQualifier" type="tns:meshQualifierInfo" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="meshQualifierInfo">
    <xs:sequence>
      <xs:element name="abbreviation" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="qualifierName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="majorTopic_YN" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="keywordList">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="keyword" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="chemicalList">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="chemical" type="tns:chemicalInfo" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="chemicalInfo">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="registryNumber" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="subSetList">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="subset" type="tns:subSet" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="subSet">
    <xs:sequence>
      <xs:element name="code" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fullTextUrlList">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="fullTextUrl" type="tns:fullTextURLInfo" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fullTextURLInfo">
    <xs:sequence>
      <xs:element name="availability" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="availabilityCode" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="documentStyle" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="site" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="url" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="commentCorrectionList">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="commentCorrection" type="tns:commentCorrection" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="commentCorrection">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="source" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="reference" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="type" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="note" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="orderIn" type="xs:short"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="extCommentBean">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="extComment" type="tns:extComment" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="extComment">
    <xs:sequence>
      <xs:element name="extCommentSource" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="info1" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="info2" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="crossReferencesList">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="dbName" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tmAccessionTypeList">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="accessionType" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dbCountList">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="db" type="tns:dbCounts" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dbCounts">
    <xs:sequence>
      <xs:element name="dbName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="count" type="xs:int" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dbCrossReferenceList">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="dbCrossReference" type="tns:dbCrossReference" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dbCrossReference">
    <xs:sequence>
      <xs:element name="dbName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dbCount" type="xs:int"></xs:element>
      <xs:element nillable="true" maxOccurs="unbounded" name="dbCrossReferenceInfo" type="tns:dbCrossReferenceInfo" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dbCrossReferenceInfo">
    <xs:sequence>
      <xs:element name="info1" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="info2" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="info3" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="info4" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="citationList">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="citation" type="tns:CitationData" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CitationData">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="source" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="citationType" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="title" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="authorString" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="journalAbbreviation" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="pubYear" type="xs:int"></xs:element>
      <xs:element name="volume" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ISSN" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="issue" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="pageInfo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="citedByCount" type="xs:int"></xs:element>
      <xs:element name="text" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="referencesList">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="reference" type="tns:referenceInfo" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="referenceInfo">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="source" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="citationType" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="title" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="authorString" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="journalAbbreviation" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="issue" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="pubYear" type="xs:int"></xs:element>
      <xs:element name="volume" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ISSN" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ESSN" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ISBN" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="pageInfo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="publicationTitle" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="publisherLoc" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="publisherName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="seriesName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="edition" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="editors" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="doi" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="unstructuredInformation" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="externalLink" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="comments" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="citedOrder" type="xs:int"></xs:element>
      <xs:element name="match" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="semanticTypeCounts">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="semanticType" type="tns:semanticCounts" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="semanticCounts">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="count" type="xs:int" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="minedTermsList">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="semanticType" type="tns:minedTerms" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="minedTerms">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="total" type="xs:int"></xs:element>
      <xs:element nillable="true" maxOccurs="unbounded" name="tmSummary" type="tns:minedSummary" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="minedSummary">
    <xs:sequence>
      <xs:element name="term" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="count" type="xs:int"></xs:element>
      <xs:element name="altNameList" type="tns:minedAltName" minOccurs="0"></xs:element>
      <xs:element name="dbName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dbIdList" type="tns:minedDbIDs" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="minedAltName">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="altName" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="minedDbIDs">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="dbId" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="searchTerms">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="searchTerms" type="tns:SearchTerm" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SearchTerm">
    <xs:sequence>
      <xs:element name="term" type="xs:string" minOccurs="0"></xs:element>
      <xs:element nillable="true" maxOccurs="unbounded" name="dataSets" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="labsProviderCountList">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="provider" type="tns:labsProviderCounts" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="labsProviderCounts">
    <xs:sequence>
      <xs:element name="providerName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="linksCount" type="xs:int" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="labsProviders">
    <xs:sequence>
      <xs:element nillable="true" maxOccurs="unbounded" name="provider" type="tns:labsProvider" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="labsProvider">
    <xs:sequence>
      <xs:element name="id" type="xs:int" minOccurs="0"></xs:element>
      <xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="frontTab" type="xs:string" minOccurs="0"></xs:element>
      <xs:element nillable="true" maxOccurs="unbounded" name="link" type="tns:labsLinks" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="labsLinks">
    <xs:sequence>
      <xs:element name="title" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="url" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="QueryException">
    <xs:sequence>
      <xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getTextMinedTerms">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="source" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="semanticType" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="offSet" type="xs:int" minOccurs="0"></xs:element>
      <xs:element name="pageSize" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getTextMinedTermsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:responseWrapper" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCitations">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="source" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="offSet" type="xs:int" minOccurs="0"></xs:element>
      <xs:element name="pageSize" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCitationsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:responseWrapper" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getLabsLinks">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="source" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="providerId" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="offSet" type="xs:int" minOccurs="0"></xs:element>
      <xs:element name="pageSize" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getLabsLinksResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:responseWrapper" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getFulltextXML">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="source" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getFulltextXMLResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:result" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="profilePublications">
    <xs:sequence>
      <xs:element name="queryString" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="profileType" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="synonym" type="xs:boolean" minOccurs="0"></xs:element>
      <xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="profilePublicationsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:responseWrapper" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBookXML">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="source" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBookXMLResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:result" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getDatabaseLinks">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="source" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="database" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="offSet" type="xs:int" minOccurs="0"></xs:element>
      <xs:element name="pageSize" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getDatabaseLinksResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:responseWrapper" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSupplementaryFiles">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="source" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSupplementaryFilesResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:result" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getReferences">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="source" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="offSet" type="xs:int" minOccurs="0"></xs:element>
      <xs:element name="pageSize" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getReferencesResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:responseWrapper" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listSearchFields">
    <xs:sequence>
      <xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listSearchFieldsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:responseWrapper" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
