test/soap_SUITE_data/test_service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions 
  targetNamespace="test" 
  xmlns:tns="test" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:s="http://www.w3.org/2001/XMLSchema" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema targetNamespace="test">
      <s:element name="request_body">
        <s:complexType>
          <s:sequence>
            <s:element name="expected_response" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>

      <s:element name="response_body">
        <s:complexType>
          <s:sequence>
            <s:element name="response" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>

      <s:element name="header">
        <s:complexType>
          <s:sequence>
            <s:element name="header_field" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>

  <wsdl:message name="request_body">
    <wsdl:part name="parameters" element="tns:request_body" />
  </wsdl:message>

  <wsdl:message name="response_body">
    <wsdl:part name="parameters" element="tns:response_body" />
  </wsdl:message>

  <wsdl:portType name="test_port_type">
    <wsdl:operation name="do_test">
      <wsdl:input message="tns:request_body" />
      <wsdl:output message="tns:response_body" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="test_port_binding" type="tns:test_port_type">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="do_test">
      <soap:operation soapAction="do_test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="test_service">
    <wsdl:port name="test_port" binding="tns:test_port_binding">
      <soap:address location="http://localhost:8080" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
